<div class="conteiner__big-card">
    <div class="big-card__photo">
        <img
        
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHN8VZBh3H-DJG7Cp3kfbRDnd7UF932qrhJMVqjA7uJw&s"
        alt="" height="200px" width="300px">
        
    </div>
    <div class="big-card__title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur
            fdfdfdfdfdfdfdfdddddddddddddddfdfdfdfd
        </p>
    </div>

</div>