<div class="conteiner__big-card">
    <div class="big-card__photo">
        <img
        
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzI3nby-i7Mhl-dFqQrIAl5-Cv9-NKE-UUAw&usqp=CAU"
        alt="" height="200px">
        
    </div>


    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi risus, dignissim a ipsum vitae, interdum interdum tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed purus dolor, condimentum et lacus vel, ultrices venenatis nunc. Maecenas gravida massa nec purus tincidunt.
        </a>
        </p>
    </div>

</div>